doctype html

block vars
  - var mainPath = "./";
  - var bowerPath = mainPath + "bower_components/";

html
  head
    meta(charset="utf-8")
    meta(name="viewport",
         content="width=device-width, initial-scale=0.0, maximum-scale=1.0 " 
                 +"user-scalable=no")  
    title המרוץ לראשות
    block linkCSSDeps
    block linkCSS
      link(href=mainPath + "css/reset.min.css", rel="stylesheet")
      link(href=mainPath + "css/new_main.css", rel="stylesheet")
      link(href=mainPath + "css/generators.css" rel="stylesheet")
      //link(href=mainPath + "css/main.css", rel="stylesheet")
      //link(href=mainPath + "css/addons.css", rel="stylesheet")
      link(href=mainPath + "css/animations.css", rel="stylesheet")
  body
    block bodyMain

    block linkJSDeps
      script(src=bowerPath + "jquery/dist/jquery.min.js")
      script(src=bowerPath + "jquery-ui/jquery-ui.min.js")
      script(src=bowerPath + "jquery-cookie/jquery.cookie.js")

    if debug
      script.
        var debug = true;
    else
      script.
        var debug = false;

    block linkJSProject
      script(src=mainPath + "js/vote.js")
